<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.projectStore.store.dto.BoardDto"/>
        <typeAlias alias="SearchCondition" type="com.projectStore.store.dto.SearchCondition"/>
        <typeAlias alias="ProductDto" type="com.projectStore.store.dto.ProductDto"/>
    </typeAliases>
</configuration>